.navbar.navbar-default.navbar-static-bottom
	.container
		div.footer-container
			ul
				li
					a(id="footer-text1", href="#")  订购电话：400 600 888
				li 联系我们
				li 2016@mescake.com All rights reserved 浙ICP备13036207号 杭公网安备11011302000938号

	