link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/build/admin.min.css",rel="stylesheet")
link(href="/img/bt_favicon.ico", rel="shortcut icon", type="image/x-icon")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")