extends ../layout
block content
	.container.container-main
		.row
			.col-md-5
				form(method="POST", action="/user/signin")
					.modal-header 登录
					.modal-body
						.form-group
							label(for="signupName") 用户名
							input#signupName.form-control(name="user[name]", type="text")
						.form-group
							label(for="signupPassword") 密码
							input#signupName.form-control(name="user[password]", type="text")
					.modal-footer
						button.bt.btn-default(type="button", data-dismiss="modal") 关闭
						button.bt.btn-success(type="submit") 提交
